.about-title{
 color: var(--content-green);
 font-size: 26px;
 font-weight: 700;
}

.about-paragrft{
 color: var(--content-black);
 font-family: sans-serif;
}


.about-me{

 strong{
  margin-right: 10px;
  color: var(--content-black);
  font-weight: bold;
  font-size:20px;
 }
}

 .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--content-green);
}

 .content ul {
  list-style: none;
  padding: 0;
}

 .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--content-black);
}

 .content ul strong {
  margin-right: 10px;
  font-size: 20px;
}

 .content p:last-child {
  margin-bottom: 0;
}

 .about__information-list{
  padding:0;
  list-style: none;

  li{
   padding-bottom: 10px;

   span{
    color: var(--content-black);
    font-size: 20px;
   }
  }
 }

 .description{
  color: black;
 }