 .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #18d26e;
}

 .content ul {
  list-style: none;
  padding: 0;
}

 .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: black;
}

 .content ul strong {
  margin-right: 10px;
}

 .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--content-red);
  font-weight: bold;
  line-height: 0;
}

 .content p:last-child {
  margin-bottom: 0;
}