.ant-tabs {
  &-nav {
    margin-bottom: 24px !important;

    &::before {
      border-bottom: none !important;
    }
  }

  &-tab {
    padding: 6px 0;
    font-weight: 500;

    &:hover,
    &:active {
      color: var(--content-green);
    }

    &-active {
      color: var(--content-green);
    }

    &-active &-btn {
      color: var(--content-green) !important;
    }
  }

  &-ink-bar {
    background-color: var(--background-green);
  }
}