.resume {
  &-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--content-black);
  }

  &-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(119, 109, 109, 0.2);
    position: relative;
  }

  p {
    color: var(--content-black);
  }

  &-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #18d26e;
    margin-bottom: 10px;
  }

  &-item h5 {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 15px;
    background: var(--content-primary);
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--radius-5);
  }

  .resume .resume-item ul {
    padding-left: 20px;
  }

  &-item ul li {
    padding-bottom: 10px;
  }

  &-item:last-child {
    padding-bottom: 0;
  }

  ul li {
    color: var(--content-black);
  }

  &-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e;
  }
}