.infoBox {
  display: flex;
  align-items: start;
  gap: 20px;
  height: 120px;
  margin-bottom: 10px;
  padding: 20px;
  background: rgba(164, 42, 42, 0.08);
  color: black;

  &:hover{
    cursor: pointer;
  }

  &paragrft{
    font-weight: bold;
    opacity: 0.7;
  }

  .section-title{
    padding-top: 15px;
  }


  &icon{
    padding: 12px;
    background: var(--background-blue);
    border-radius: 50%;
  }

  h3{
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: bold;
  }
}

.socialLinks  {
  display: flex;
  gap: 10px;
  margin: 14px 0;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--background-blue);
  border: 1px solid transparent;
  color: var(--content-white);
  border-radius: 50%;

  &:hover{
    background-color: var(--content-white);
    color: var(--content-blue);
    border-color: var(--content-blue);
  }
}

.submitBtn{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
