.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px 20px 0;
  width:1500px;
  margin: 0 auto;
  background-color: #DDE9F8;

  h2{
    color: white;
    line-height:1;
    font-size:48px;
  }

  p{
    font-size:20px !important;
  }

  img {
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }
}

.socialLinks{
  display:flex;
  gap: 10px;
}

.link{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-white);
  color: var(--background-blue);
  border: 1px solid var(--background-blue);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s linear;

  &:hover{
    background: yellow;
    color: #040404;
    border-color: black;
  }
}