.header{
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 1px 2px var(--background-blue);
  z-index: 1000000;

  &__connect{
    padding: 4px 15px;
    background-color: var(--background-blue);
    color: var(--text-white) ;
    border: 1px solid var(--content-white);
    border-radius: 3px;
    transition: all .4s ease;

    &:hover{
      transform: scale(1.06);
    }
  }

  .nav-link{
    color: var(--content-primary);
    text-transform: uppercase;
    font-weight: bold;
  }
}